<div class="container">

    <%= for gender <- Map.keys @genders do %>
        <h1> <%= gender %> ( <%= Kernel.length @genders[gender] %> )</h1>
        <table>
            <%= for review <- @genders[gender] do %>
                    <tr>
                        <td><%= review.author.name %></td>
                        <td><%= review.body %></td>
                    </tr>
            <% end %>
        </table>    
    <% end %>

</div>