<div class="container">

    <%= for param <- Map.keys @params do %>
        <h1> <%= param %> ( <%= Kernel.length @params[param] %> )</h1>
        <table>
            <%= for review <- @params[param] do %>
                    <tr>
                        <td><%= review.author.name %></td>
                        <td><%= review.body %></td>
                    </tr>
            <% end %>
        </table>    
    <% end %>

</div>