<div class="container">

    <%= for time <- Map.keys @times do %>
        <h1> <%= time %> ( <%= Kernel.length @times[time] %> )</h1>
        <table>
            <%= for review <- @times[time] do %>
                    <tr>
                        <td><%= review.author.name %></td>
                        <td><%= review.body %></td>
                    </tr>
            <% end %>
        </table>    
    <% end %>

</div>