<div class="container">

    <%= for city <- Map.keys @cities do %>
        <h1> <%= city %> ( <%= Kernel.length @cities[city] %> )</h1>
        <table>
            <%= for review <- @cities[city] do %>
                    <tr>
                        <td><%= review.author.name %></td>
                        <td><%= review.body %></td>
                    </tr>
            <% end %>
        </table>    
    <% end %>
</div>