<div class="container">

    <%= for month <- Map.keys @months do %>
        <h1> <%= month %> ( <%= Kernel.length @months[month] %> )</h1>
        <table>
            <%= for review <- @months[month] do %>
                    <tr>
                        <td><%= review.author.name %></td>
                        <td><%= review.body %></td>
                    </tr>
            <% end %>
        </table>    
    <% end %>

</div>